{
  "plugins": [
    "meteor"
  ],
  "extends": [
    "airbnb/base",
    "plugin:meteor/recommended"
  ],
  "rules": {
    "meteor/eventmap-params": [
      2, { "templateInstanceParamName": "instance" }
    ],
    "import/no-unresolved": [
      2, {
        "ignore": ["^meteor/"] }
    ]
  }
}